body{
    margin: 0;
    padding: 0;
}
#campaignContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.campaigns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.campaign{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}
#addCampaignButtonDiv{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #d6d3d2;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#addIconDiv{
    border: 2px solid black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#addIconImg{
    width: 100%;
    height: 100%;
}
/* #overlayBackground{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(201, 194, 193, 0.1);
} */
#addOverlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgba(201, 194, 193, 0.8);
}
#addOverlay form{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid black;
}
#addOverlay form div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#addOverlay form div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#addOverlay form div input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}