#left{
    display: flex;
    flex-direction: column;
    width: 30%;
}
#left img{
    width: 200px;
    border-radius: 50%;
}
#profileContainer{
    display: flex;
    flex-direction: row;
}
#right{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
}
#active{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.campaigns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.campaign{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}