<div id="viewContainer">
    <div class="hideDialog" style="display: flex; flex-direction: row-reverse; cursor: pointer;">
        &#10006;
    </div>
    <div class="dataField">
        <span>Title&nbsp;:</span>
        <span>{{campaign_data[1]}}</span>
    </div>
    <div class="dataField">
        <span>Description&nbsp;:</span>
        <span>{{campaign_data[2]}}</span>
    </div>
    <!-- <div class="dataField">
        <span>Image&nbsp;:</span>
        <span>{{campaign_data[3]}}</span>
    </div> -->
    <div class="dataField">
        <span>Niche&nbsp;:</span>
        <span>{{campaign_data[4]}}</span>
    </div>
    <div class="dataField">
        <span>Budget&nbsp;:</span>
        <span>{{campaign_data[9]}}</span>
    </div>
    {% if (role=='Sponsor') %}
    <div class="dataField">
        <span>Influencer Assigned&nbsp;:</span>
        <span>{{campaign_data[7]}}</span>
        {% if (campaign_data[7] == None) %}
        <a href="/find/influencers"><span id="findInfluencerButton">Find</span></a>
        {% endif %}
    </div>
    {% elif (role=='Influencer') %}
    <div class="dataField">
        <span>Sponsor&nbsp;:</span>
        <span>{{campaign_data[8]}}</span>
        {% endif %}
    </div>
</div>