<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
</head>

<body>
    <nav>
        <span>{{role}}'s Dashboard</span>
        <ul>
            <li class="noselect">
                Profile
            </li>
            <span class="noselect">&nbsp;|&nbsp;</span>
            {% if role == 'sponsor' %}
            <li class="noselect">
                Campaigns
            </li>
            <span class="noselect">&nbsp;|&nbsp;</span>
            {% endif%}
            <li class="noselect">
                Find
            </li>
            <span class="noselect">&nbsp;|&nbsp;</span>
            <li class="noselect">
                Stats
            </li>
            <span class="noselect">&nbsp;|&nbsp;</span>
            <li class="noselect">
                Logout
            </li>
        </ul>
    </nav>

    <div id="profileContainer">
        {% if role == 'Influencer' %}
        <div id="left">
            <img src="{{url_for('static', filename='assets/placeholderProfilePic.png')}}" alt="">
            <span>Rating: {{rating}}</span>
            <span>Earnings this month: {{earnings}}</span>
        </div>
        {% endif %}

        <div id="right">
            <span>Welcome {{username}}</span>
            <div id="active">
                Active Campaigns:
                <div class="campaigns">

                    {% for campaign in active_campaigns %}
                    <div class="campaign">
                        <div>
                            <span>{{campaign[0]}}</span>
                        </div>
                        <div>
                            <span>View</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="requests">
                New Requests:
                <div class="campaigns">

                    {% for campaign in requests_campaigns %}
                    <div class="campaign">
                        <div>
                            <span>{{campaign[0]}}</span>
                        </div>
                        <div>
                            <span>View</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>