<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
</head>
<body>
    <nav>
        <span>{{role}}'s Dashboard</span>
        <ul>
            <li class="noselect">
                Profile
            </li>
            <span class="noselect">&nbsp;|&nbsp;</span>
            {% if role == 'sponsor' %}
            <li class="noselect">
                Campaigns
            </li>
            <span class="noselect">&nbsp;|&nbsp;</span>
            {% endif%}
            <li class="noselect">
                Find
            </li>
            <span class="noselect">&nbsp;|&nbsp;</span>
            <li class="noselect">
                Stats
            </li>
            <span class="noselect">&nbsp;|&nbsp;</span>
            <li class="noselect">
                Logout
            </li>
        </ul>
    </nav>
</body>
</html>